@import "tailwindcss";

.bg_1{
    background-image: url('https://i.ibb.co.com/sJcKNcVK/bg-quick-NCart.jpg');
     background-size: cover;
  background-position: center;
  width: 100%;
  }

  button{
    background: black;
    color: antiquewhite;
    cursor: pointer;
  }
  button:hover{
    background:rgb(226, 232, 226);
    border-radius: 20px;
    color: black;
    box-shadow: 10px;
  }